.button {
  --line_color: #1a1a1a;
  --back_color: #defffa;
  position: relative;
  z-index: 0;
  width: 240px;
  height: 56px;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  color: var(--line_color);
  letter-spacing: 3px;
  transition: all 0.3s ease;
  display: inline-block;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  text-transform: uppercase;
}

.button::before,
.button::after,
.text::before,
.text::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background: var(--line_color);
  transition: all 0.5s ease;
}

.button::before {
  top: 0;
  left: 54px;
  width: calc(100% - 56px * 2 - 16px);
}

.button::after {
  top: 0;
  right: 54px;
  width: 8px;
}

.text::before {
  bottom: 0;
  right: 54px;
  width: calc(100% - 56px * 2 - 16px);
}

.text::after {
  bottom: 0;
  left: 54px;
  width: 8px;
}

.line {
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  overflow: hidden;
}

.line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 300px;
  border: solid 3px var(--line_color);
}

.line:nth-child(1),
.line:nth-child(1)::before {
  left: 0;
}

.line:nth-child(2),
.line:nth-child(2)::before {
  right: 0;
}

.button:hover {
  letter-spacing: 6px;
}

.button:hover::before,
.button:hover .text::before {
  width: 8px;
}

.button:hover::after,
.button:hover .text::after {
  width: calc(100% - 56px * 2 - 16px);
}

.drow1,
.drow2 {
  position: absolute;
  z-index: -1;
  border-radius: 16px;
  transform-origin: 16px 16px;
}

.drow1 {
  top: -16px;
  left: 40px;
  width: 32px;
  height: 0;
  transform: rotate(30deg);
}

.drow2 {
  top: 44px;
  left: 77px;
  width: 32px;
  height: 0;
  transform: rotate(-127deg);
}

.drow1::before,
.drow1::after,
.drow2::before,
.drow2::after {
  content: "";
  position: absolute;
}

.drow1::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-60deg);
}

.drow1::after {
  top: -10px;
  left: 45px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(69deg);
}

.drow2::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-146deg);
}

.drow2::after {
  bottom: 26px;
  left: -40px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-262deg);
}

.drow1,
.drow1::before,
.drow1::after,
.drow2,
.drow2::before,
.drow2::after {
  background: var(--back_color);
}

.button:hover .drow1 {
  animation: drow1 ease-in 0.06s;
  animation-fill-mode: forwards;
}

.button:hover .drow1::before {
  animation: drow2 linear 0.08s 0.06s;
  animation-fill-mode: forwards;
}

.button:hover .drow1::after {
  animation: drow3 linear 0.03s 0.14s;
  animation-fill-mode: forwards;
}

.button:hover .drow2 {
  animation: drow4 linear 0.06s 0.2s;
  animation-fill-mode: forwards;
}

.button:hover .drow2::before {
  animation: drow3 linear 0.03s 0.26s;
  animation-fill-mode: forwards;
}

.button:hover .drow2::after {
  animation: drow5 linear 0.06s 0.32s;
  animation-fill-mode: forwards;
}

@keyframes drow1 {
  0% { height: 0; }
  100% { height: 100px; }
}

@keyframes drow2 {
  0% { width: 0; opacity: 0; }
  10% { opacity: 0; }
  11% { opacity: 1; }
  100% { width: 120px; }
}

@keyframes drow3 {
  0% { width: 0; }
  100% { width: 80px; }
}

@keyframes drow4 {
  0% { height: 0; }
  100% { height: 120px; }
}

@keyframes drow5 {
  0% { width: 0; }
  100% { width: 124px; }
}
